body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #043df8 30%, #000000 50%);
}

.fundo-diagonal {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
}
.navegacao {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    justify-content: center;
    padding: 20px 0;
}
.navmenor{
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
}
.botao2 {
    text-align: center;
    display: inline-block;
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #043df8;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.botao2:hover {
    background-color: #0026b3;
}

.pesquisa {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#campoPesquisa {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#botaoPesquisa {
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #043df8;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.lista-clientes {
    width: 100%;
    padding: 20px;
}
.icon-button {
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.icon-button img, .editar img, .deletar img {
    width: 30px; /* Altura do ícone */
    height: 30px; /* Altura do ícone */
}

.cliente {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cliente .acoes {
    display: flex;
    gap: 10px;
}

.cliente .acoes button,
.cliente .acoes i {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.cliente .acoes .editar {
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #043df8;
    border-radius: 30px;
}

.cliente .acoes .deletar {
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 30px;
}
#enviar, #editar{
    background-color: #4098d3; /* Cor de fundo do botão */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 4px; /* Arredondamento das bordas */
    cursor: pointer; /* Mostrar cursor de mão ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
}

#enviar:hover, #editar:hover {
    background-color: #1215d3; /* Cor de fundo alterada ao passar o mouse */
    color: aliceblue;
}
#nome, #cpf, #endereco, #anotacoes, #novoValor, #campo {
    width: 100%; /* Largura total do campo */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento entre campos */
    border: 1px solid #ccc; /* Borda do campo */
    border-radius: 4px; /* Arredondamento das bordas */
    box-sizing: border-box; /* Inclui a borda na largura total */
}

#nome {
    font-size: 16px; /* Tamanho da fonte */
}

#cpf {
    font-size: 16px;
}

#endereco {
    font-size: 16px;
}

#anotacoes {
    font-size: 16px;
}
