/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFBA00;
    --secondary-color: #FFF1CC;
    --shadow-color: #CCC;
    --text-color: #FFF;
}

body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: #f0f2f5;
    color: #333;
}

/* Estilos do header */
header {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header-title {
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

@media (max-width: 480px) {
    header {
        position: fixed;
        width: 100%;
    }

    .header-title {
        font-size: 1.5rem;
    }
}

/* Estilos do main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 5vh auto;
    padding: 50px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

@media (max-width: 480px) {
    main {
        padding: 0;
        margin: 20px 0 0 0;
        width: 100%;
        box-shadow: none;
    }
}

/* Estilos do footer */
footer {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    padding: 10px;
    background-color: var(--primary-color);
    color: #30026b;
    font-size: 0.875rem;
}

.button {
    border: none;
    height: 40px;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilos do modal de detalhes */
.modal-body p {
    margin: 10px 0;
}

.button.blue {
    background-color: #1FB6FF;
    box-shadow: 0 4px 8px rgba(31, 182, 255, 0.2);
}

.button.green {
    background-color: #13CE66;
    box-shadow: 0 4px 8px rgba(19, 206, 102, 0.2);
}

.button.red {
    background-color: #FF4949;
    box-shadow: 0 4px 8px rgba(255, 73, 73, 0.2);
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button.white {
    background-color: #FFFFFF;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button.white img {
    filter: grayscale(100%);
}

.button.white:hover img {
    filter: none;
}

@media (max-width: 480px) {
    .button.mobile {
        color: transparent;
        font-size: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        top: 90vh;
        left: 80vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .button.mobile::before {
        content: "+";
        color: black;
        font-size: 2rem;
        width: 100%;
        height: 100%;
    }
}

/* Estilos do formulário de login */
#login-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

#login-form input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#login-form button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login-form button:hover {
    background-color: #e6a600; /* cor mais escura para o botão ao passar o mouse */
}

/* Estilos do tabuleiro do jogo */
#tabuleiro-jogo {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
}

.celula {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.celula.revelada {
    background-color: #fff;
}

#reiniciar-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilos do modal */
.modal {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    opacity: 0;
    z-index: -1;
}

.modal.active {
    transform: translateY(0);
    display: block;
    opacity: 1;
    z-index: 1;
}

/* Estilos do modal */
.modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50vw;
    max-height: 80vh; /* Limita a altura máxima do modal */
    margin: 15vh auto;
    padding-bottom: 20px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    overflow-y: auto; /* Adiciona uma barra de rolagem quando necessário */
}

/* Ajustes para telas menores */
@media (max-width: 480px) {
    .modal-content {
        margin: 0;
        width: 100%;
        max-height: 90vh; /* Ajusta a altura máxima para dispositivos móveis */
        position: fixed;
    }
}


.modal-header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
}

.modal-close {
    position: absolute;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #FF4949;
    color: white;
}

.modal-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-field {
    width: calc(50% - 10px);
    height: 40px;
    outline: none;
    border: none;
    box-shadow: 0 0 2px black;
    padding: 0 10px;
    font-size: 1rem;
}

.modal-field:focus {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}

.modal-footer {
    background-color: inherit;
    text-align: right;
    padding: 0 20px;
    
}

@media (max-width: 480px) {
    .modal {
        top: 100%;
        transition: all 1s ease;
    }

    .modal.active {
        top: 0;
    }

    .modal-content {
        margin: 0;
        width: 100%;
        position: fixed;
    }

    .modal-field {
        width: 100%;
    }
}

/* Estilos da tabela de registros */
.records {
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th {
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;
}

.records td {
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child {
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 480px) {
    .records {
        border-spacing: 5px;
    }

    .records thead {
        display: none;
    }

    .records tr {
        box-shadow: 0 1px 3px var(--shadow-color);
    }

    .records td:not(:first-child) {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td {
        margin: 10px 0;
    }

    .records tr:hover {
        background-color: inherit;
    }
}
/* Estilos do modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}

.modal.active {
    display: block;
    opacity: 1;
    z-index: 10;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px; /* Limita a largura máxima */
    margin: 10% auto; /* Centraliza verticalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
}

.modal-close {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #333;
    transition: color 0.3s ease;
}

.modal-close:hover {
    color: var(--primary-color);
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-field {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.modal-field:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-footer .button {
    min-width: 100px; /* Largura mínima para botões */
}

@media (max-width: 480px) {
    .modal-content {
        margin: 5% auto;
        width: 95%;
        padding: 15px;
    }

    .modal-header {
        font-size: 1.1rem;
    }

    .modal-form {
        gap: 10px;
    }

    .modal-footer {
        flex-direction: column;
        align-items: stretch;
    }

    .modal-footer .button {
        width: 100%;
        text-align: center;
    }
}
